<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.web.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentControllerServlet</servlet-name>
  	<display-name>StudentControllerServlet</display-name>
  	<description></description>
  	<servlet-class>com.web.StudentControllerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClassControllerServlet</servlet-name>
  	<display-name>ClassControllerServlet</display-name>
  	<description></description>
  	<servlet-class>com.web.ClassControllerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectControllerServlet</servlet-name>
  	<display-name>SubjectControllerServlet</display-name>
  	<description></description>
  	<servlet-class>com.web.SubjectControllerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherControllerServlet</servlet-name>
  	<display-name>TeacherControllerServlet</display-name>
  	<description></description>
  	<servlet-class>com.web.TeacherControllerServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AssignClassServlet</display-name>
  	<servlet-name>AssignClassServlet</servlet-name>
  	<servlet-class>com.web.AssignClassServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AssignTeachersServlet</display-name>
  	<servlet-name>AssignTeachersServlet</servlet-name>
  	<servlet-class>com.web.AssignTeachersServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AssignStudentsServlet</display-name>
  	<servlet-name>AssignStudentsServlet</servlet-name>
  	<servlet-class>com.web.AssignStudentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GenerateClassReportServlet</display-name>
  	<servlet-name>GenerateClassReportServlet</servlet-name>
  	<servlet-class>com.web.GenerateClassReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentControllerServlet</servlet-name>
  	<url-pattern>/StudentControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClassControllerServlet</servlet-name>
  	<url-pattern>/ClassControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectControllerServlet</servlet-name>
  	<url-pattern>/SubjectControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherControllerServlet</servlet-name>
  	<url-pattern>/TeacherControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignClassServlet</servlet-name>
  	<url-pattern>/AssignClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignTeachersServlet</servlet-name>
  	<url-pattern>/AssignTeachersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignStudentsServlet</servlet-name>
  	<url-pattern>/AssignStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateClassReportServlet</servlet-name>
  	<url-pattern>/GenerateClassReportServlet</url-pattern>
  </servlet-mapping>
</web-app>
